body{
    margin: 2%;
    text-align: center;
    background-color: #604095;
}
button,input[type="file"]::-webkit-file-upload-button{
    color: white;
    background-color: purple;
    border-radius: 20px;
    padding: 10px 20px;
}
button:hover,input[type="file"]::-webkit-file-upload-button:hover{
    background-color: #5A005A;
}